name: Cypress Matrix Browsers

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        browser: [chrome, electron, firefox]

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Instalar dependências
        run: npm install

      - name: Criar pastas de relatório
        run: mkdir -p reports/mocha

      - name: Executar Cypress no browser ${{ matrix.browser }}
        run: |
          npx cypress run \
            --browser ${{ matrix.browser }} \
            --reporter cypress-mochawesome-reporter

      - name: Upload relatório por browser
        uses: actions/upload-artifact@v4
        with:
          name: report-${{ matrix.browser }}
          path: reports/mocha/
